# Default ignored files
# IdeaProjects.iml
# /out
# /*
# !/thirty days
# !/headfirst
# !/spam
# !/CodePractice/
# /headfirst/headfirst.iml

out/
*.iml
.idea/
target/
maven-wrapper.jar
maven-wrapper.properties
MavenWrapperDownloader.java
SweaterApplicationTests.java
sweater/.mvn/wrapper
